{% extends "base.html" %}

{%  block content %}

    <div class="container">
        <h1>Group Info</h1>
        <a href="{% url 'group-list' %}">Back to List</a>

        <p>Name: {{ group.name }}</p>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <span class="col-md-4">Users</span>
                <span class="col-md-6">Email</span>
            </div>
            <ul class="list-group">
                {% for user in user_list %}
                <li class="list-group-item clearfix">
                    <span class="col-md-4">{{ user.username }}</span>
                    <span class="col-md-6">{{ user.email }}</span>
                </li>
                {% endfor %}
            </ul>
        </div><!-- END PANEL -->
    </div>

{% endblock %}