{% extends "base.html" %}
{% load app_filters %}
{% block content %}
<div class="container">

    <ol class="breadcrumb">
        {% if cur_folder_name %}
            <li><a href="{% url 'browse' %}">Home</a></li>
            <li class="active">{{ cur_folder_name }}</li>
        {% else %}
            <li class="active">Home</li>
        {% endif %}
    </ol>

    <div class="list-group">

        {% for folder in folder_list %}
            <a href="{% url 'browse' folder_id=folder.id %}" class="list-group-item clearfix">
                <span class="col-md-1 text-center glyphicon glyphicon-folder-close"></span>
                {{ folder.folder_name }}
                <div class="pull-right col-md-4">
                    <div class="row">
                        <span class="col-md-4 text-center">{{ folder.updated_at|date:"n/j/y G:i" }}</span>
                        <span class="col-md-4 text-center">{{ folder.updated_by.username }}</span>
                        {% if user|has_group:"admins" or folder.created_by == user %}
                        <form class="col-md-2 text-center" style="display: inline" action="{% url 'folders-edit' pk=folder.id %}">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </form>
                        <form class="col-md-2 text-center" style="display: inline" action="{% url 'folders-delete' pk=folder.id %}">
                            <button class="btn btn-danger" type="submit">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                        {% endif %}
                    </div><!-- END ROW -->
                </div>
            </a>
        {% endfor %}

        {% for report in report_list %}
            <a href="{% url 'report-detail' pk=report.id %}" class="list-group-item clearfix">
                <span class="col-md-1 text-center glyphicon glyphicon-file"></span>
                {{ report.short }}
                <div class="pull-right col-md-4">
                    <div class="row">
                        <span class="col-md-4 text-center">{{ report.updated_at|date:"n/j/y G:i" }}</span>
                        <span class="col-md-4 text-center">{{ report.updated_by.username }}</span>
                        {% if user|has_group:"admins" or report.created_by == user %}
                        <form class="col-md-2 text-center" style="display: inline" action="{% url 'report-edit' pk=report.id %}">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </form>
                        <form class="col-md-2 text-center" style="display: inline" action="{% url 'reports-delete' pk=report.id %}">
                            <button class="btn btn-danger" type="submit">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                        {% endif %}
                    </div><!-- END ROW -->
                </div>
            </a>
        {% endfor %}
        <a class="list-group-item text-center" href="{% url 'reports-new' %}">
            <span class="glyphicon glyphicon-plus"></span>
            Create a New Report
        </a>
    </div>

</div><!-- END CONTAINER -->


{% endblock %}