<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>user Registration</title>
</head>
<body>
    <h1>Register for Secure Witness</h1>
    {% if registered %}
        Thank you for registering! <br />
    {% else %}
        Register here
        <form id="user_form" method="post" action="{% url 'register' %}">
            {% csrf_token %}

            <!-- Display forms as <p> elements for formatting -->
            {{ user_form.as_p }}

            <input type="submit" name="Submit" value="Register" />
        </form>
    {% endif %}
</body>
</html>