{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>{{ report }}</h1>


<a href="{% url "report-edit" pk=report.id %}">Edit Report</a><br/>
<a href="{% url "copy" pk=report.id %}">Copy Report</a><br/>
<a href="{% url "folders-list" %}">Back to List</a>

    <p>{{ report.short }}</p>
    <p>Time: {{ report.today }}</p>
    <p>Detailed Description: {{ report.detailed }}</p>
    <p>Location: {{ report.location }}</p>
    <p>Time: {{ report.time }}</p>
    <p>Keywords: {{ report.keywords }}</p>
    <p>Privacy: {{ report.private }}</p>
    Files:
    <ul>
    {% for file in file_list %}
        <li>{{ file.filename }}</li>
    {% endfor %}
    </ul>

    <a href="{% url "report-edit" pk=report.id %}">Edit Report</a><br/>
    <a href="{% url "folders-list" %}">Back to List</a>

</div>

{% endblock %}